<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos en Tiempo Real</title>
</head>

<body>
    <h2>Aca mostramos todos los productos en tiempo real</h2>

    <div id="contenedorProductos"></div>

    <script src="/socket.io/socket.io.js"></script> <!-- Cargar solo una versión de Socket.IO -->
    <script src="/js/main.js"></script> <!-- Asegúrate de que esta ruta sea correcta -->
</body>

</html>