<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos en Tiempo Real</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h2>Aca mostramos todos los productos en tiempo real</h2>
        <div id="contenedorProductos"></div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/addProduct.js"></script>
</body>

</html>